torch
torchvision
langchain
langchain-community
langchain-openai
langchain-groq
chromadb
tiktoken
unstructured[all-docs]
pillow
lxml
python-dotenv
pytest
byaldi
openai
streamlit
transformers
huggingface-hub
watchdog